<%- include("header"); -%>
  
  <div id="heading" class="box">
    <h1> <%= listTitle %> </h1>      
  </div>
  
  <div class="box">
    <% list.items.forEach((item => { %>
      <div class="item">
        <form action="/delete" method="POST">
          <input type="checkbox" name="itemIndex" value="<%= list.items.indexOf(item) %>" onChange="this.form.submit()">
          <input type="hidden" name="listID" value="<%= list._id %>">
          <input type="hidden" name="userID" value="<%= userID %>">
        </form>
          <p> <%= item %> </p>
      </div>
    <% })); %>

    <form class ="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off">
      <input type="hidden" name="userID" value="<%= userID %>"/>
      <button type="submit" name="listID" value="<%= list._id %>">+</button>
    </form>
  </div>

<%- include("footer"); -%>
