<%- include("header"); -%>
  
  <div id="heading" class="box">
    <h1> <%= listTitle %> </h1>      
  </div>
  
  <div class="box">
    <% list.forEach((item => { %>
      <div class="item">
        <input type="checkbox">
        <p> <%= item.task %> </p>
      </div>
    <% })); %>

    <form class ="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

<%- include("footer"); -%>
